.switchers{
  display: flex;
  flex-direction: row;
  gap: 4px;
  &-item{
    display: inline;
    width: min-content;
    color: black;
    background-color: white;
    padding: 4px 12px;
    cursor: pointer;
    &:hover{
      background-color: white;
      color: black;
      outline: 1px solid black;
    }
  }
  .active{
    background-color: black;
    color: white;
    &:hover{
      background-color: white;
      color: black;
      outline: 1px solid black;
    }
  }
}
