/* You can add global styles to this file, and also import other style files */
body{
  font-family: monospace;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  unicode-bidi: isolate;
}
